<!-- <div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button mdbBtn color="default" outline="true" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2"
        mdbWavesEffect>Button</button>
    </div>
  </div> -->

<!-- <div class="md-form input-group mb-3">
    <input type="text" class="form-control" placeholder="File Name" aria-label="Recipient's username"
      aria-describedby="button-addon2">
    <div class="input-group-append">
      <button mdbBtn color="default" size="md" class="m-0 px-3 py-2" type="button" id="button-addon2"
        mdbWavesEffect>Retrieve</button>
    </div>
  </div> -->
<h3 class="text-center">Retrieve Files:</h3>

<div class="row">
  <div class="col-lg-6 col-6">
    <input id="name" type="text" [formControl]="name">
  </div>
</div>

<div class="row">
    <button mat-raised-button color="primary">Retrieve File</button>
</div>