.examples-container {
    padding: 8px;
  }
  
  .selected-files-container {
    padding: 8px;
  }

  ::ng-deep .mat-tab-list .mat-tab-labels {
    color: rgb(19, 18, 18);
    background-color: rgba(85, 67, 80, 0.644);
  }
  
  .tab-container {
    padding: 8px;
    height:300px;
    background-color: rgba(255, 105, 180, 0.192);
  }
  
  .drop-zone-container {
    outline: 2px dashed #e1e1e1;
    height: 200px;
    width: 100%;
    cursor: pointer;
  }

  /* Styles for tab labels */
.mat-tab-label-content{
  min-width: 25px !important;
  padding: 5px;
  background-color: transparent;
  color: red;
  font-weight: 700;
}
